body{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 24px;
    color: whitesmoke;
    background-color: #000e;
    margin: 5% 7% 10%;
}
p,
a,
ul,
ol{
    margin: 2% 5%;
}
.light-mode{
    background-color: #ff80;
    color: black;
}
.theme-toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
.theme-toggle img{
    width: 40px;
    height: 40px;
    transition: transform 0.4s ease, filter 0.4s ease;
}
.light-mode a{
    color: black;
}

.foto-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.foto-perfil{
    width: 160px;
    height: auto;
    border-radius: 60px;
}
.container-interesses{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-tecnologias{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-refs{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 12px;

}
.container-altered-information{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 0;
}
.meuBotao{
    background: linear-gradient(45deg, mediumpurple, rebeccapurple);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "JetBrains Mono", sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 46px;
    display: block;
    margin:  0 auto;
}
.meuBotao:hover {
    background: linear-gradient(45deg, rebeccapurple, mediumpurple);
}
.meuBotao:focus{
    /*cria uma estilização diferente para quando o campo é selecionado */
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}
h1{
    text-align: center;
    font-size: 36px;
}
h2{
    text-align: center;
    font-size: 24px;
}
p{
    text-align: center;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 20px;
}
ol{
    text-align: left;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 20px;
}
ul{
    text-align: left;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 20px;
}
a{
    text-align: center;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
.container-tecnologias,
.container-interesses,
.container-refs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}
.container-refs a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}